@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');
@tailwind base;

body {
  font-family: 'Georama', sans-serif;
}

a:hover {
  cursor: pointer;
}

@tailwind components;

@tailwind utilities;

:root {
  --circle-size: 300px;
  --my-gray: #273036;
}

.bg-my-gray {
  background-color: var(--my-gray)
}

h1 {
  @apply text-4xl;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

@layer components {
  .my-constraint {
    @apply mx-auto max-w-screen-lg;
  }

  .primary-light-text {
    @apply text-gray-300;
  }

  .primary-dark-text {
    @apply text-gray-800;
  }
}

.nav-class {
  position: absolute;
  z-index: 20000;
  width: 100%;
  color: white !important;
}

.hero-image {
  height: calc(100vh - 100px);
  background-color: #273036;
  position: absolute;
  width:100%;
  top: 0;
  left: 0; 
  object-fit: cover;
  filter: brightness(70%);
}

.hero-wrapper {
  height: calc(100vh - 100px);
}

@keyframes move {
  0% {
    background-position: 10% 30%;
  }
  50% {
    background-position: 10% 60%;
  }
  100% {
    background-position: 10% 30%;
  }
}

.fadeInUp {
  opacity: 0;
  animation: fadeInUp 800ms linear forwards;
  -webkit-animation-name: fadeInUp;
}

.wave-hero {
  position: absolute;
  bottom: -1px;
}

@media only screen and (min-width: 768px)  {
  .wave-hero {
    bottom: -21px;
  }
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}


/**ABOUT**/

.circle {
  width: var(--circle-size) !important;
  height: var(--circle-size)!important;
  border-radius: 100%;
}

.circle::after {
  content: '';
  width: var(--circle-size);
  height: var(--circle-size);
  background-image: url('https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTY2MzU3Njc4ODI0NjI5OTM0/isaac_newton_1689_painting_sir_godfrey_kneller_public_domain_via_wikimedia_commons.jpg');
  background-size: 100%;
  display: block;
  border-radius: 100%;
  position: relative;
  top: 20px;
  box-shadow: 0px 6px #e3e3e3;
}
